* {
    font-family: "Roboto", sans-serif;
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --info: rgb(30, 202, 240);
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    color: var(--white)
}

a {
    text-decoration: none;
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

/* Color blanco para algunas clases de textos e iconos fontawesome */
.nav-link,
.card-title,
.card-text,
.fa-solid,
.fa-brands {
    color: var(--white);
}

.nav-link:hover {
    color: var(--info);
}

.nav-link:focus {
    color: var(--white);
}

.card {
    max-width: 18rem;
}
.card-title{
    cursor: pointer;
}

/* Cambio de color de fondo al navbar cuando se haga scroll */
.is-scrolling {
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}