* {
    font-family: "Roboto", sans-serif;
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: white;
}

a {
    text-decoration: none;
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

/* Color blanco para algunas clases de textos e iconos fontawesome */
.nav-link,
.card-title,
.card-text,
.fa-solid,
.fa-brands {
    color: #fff;
}

.card {
    max-width: 18rem;
}
  